
.info{
  background-image: url(https://img.freepik.com/foto-gratis/vista-superior-alimentos-accesorios-mascotas_23-2148949562.jpg?w=996&t=st=1684025498~exp=1684026098~hmac=9605557feddeaa468c1e888a49617a61390dd0989bc3413ee9da16e9280903ca);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
@media  (max-width: 760px){

  .info{
    background-image: url(../images/img2.jpg);
  };

}


.galeria{
    background-color: rgb(16, 158, 214);
  }



  .zoomP{
    /* Aumentamos la anchura y altura durante 1 segundos */
    transition: width 1.1s, height 1.1s, transform 1.1s;
    -moz-transition: width 1.1s, height 1.1s, -moz-transform 1.1s;
    -webkit-transition: width 1.1s, height 1.1s, -webkit-transform 1.1s;
    -o-transition: width 1.1s, height 1.1s,-o-transform 1.1s;
}
.zoomP:hover{
    transform: scale(1.05);
    -webkit-transform:scale(1.05);transform:scale(1.05)
}


.map{
  background-color: #bee9fd;
}


.contactos{
  background-image: url("https://img.freepik.com/foto-gratis/retrato-grupo-adorables-cachorros_53876-64778.jpg?size=626&ext=jpg&ga=GA1.1.350373150.1670295459&semt=sph");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.footer{
  background-color: #10164d;
  color: white;
}